// Fonts
$primaryFont: 'Objectivity', sans-serif;
$secondaryFont: 'Objectivity', sans-serif;
$baseFontSize: 16px;
$baseFontColor: #031926;

// Colours
$cream: #fcf9e8;
$orange: #ffd4bf;
$yellow: #FFEE93;
$blue: #A0CED9;
$green: #ADF7B6;
$dark: #272838;


$primary: #fcf9e8; 
$primaryLight: #F6F2FD;
$secondary: #ffd4bf;
$tertiary: #FFEE93;
$quaternary: #A0CED9;


$lightgrey: #eef0fb;
$text: $baseFontColor;
$textLight: #435366;
$border: #d6dbe1;
$white: #fff;
$borderDark: lighten($text, 35%);
$success: #64c82d;
$warning: #ffc458;
$error: tomato;

$grey: #eff4f7;